# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

src/main/resources/plugins/*.jar
out
its/projects/*-tmp/

# ---- Sonar
.sonar

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea

# ---- Eclipse
.classpath
.project
.settings

# ---- Maven
target

# ---- Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# ---- Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Gradle
.gradle
classes
build
.scannerwork/